.empty-cart{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.container-Cart{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 50px 100px;
}

.buttonFormConfirm{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 885px){
    .container-Cart{
        margin: 50px 30px;
        gap: 30px;
    }
}

@media (max-width: 500px){
    
    .container-Cart{

        grid-template-columns: 100%;
        margin: 50px 20px;
    }
    .buttonFormConfirm{
        flex-direction: column;
    }
}

