h4{
    font-size: 20px;
    text-align: center;
}

.card{
    transition: 0.2s;
}
.card:hover{
    transform: translate(0, -5px);
}

.card-text{
    text-align: center;
}

.centrar-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.verDetalleBtn{
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(210, 210, 210);
    transition: 0.2s;
}
.verDetalleBtn:hover{
    color: white;
    background-color: rgb(104, 104, 104);
}